<h1 class=" text-gray-400 text-3xl p-[2%]" >{{title}}</h1>

<nav>
  <ul>
    <li><a class="link" href="/">Home</a></li>
    <li><a class="link" href="/about">About</a></li>
    <li><a class="link" href="/help">Help</a></li>
  </ul>
</nav>